/* 
Title: Grid FocaApp;
Author: Lucas Miquéias;
 */
.container {
  padding-left: 15px;
  padding-right: 15px;
}
.row{
    display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(221, 221, 221);
}
.row.rowup{
  margin-top: 5px;
}
.foc-1, .foc-2, .foc-3, .foc-4, .foc-5, .foc-6, .foc-7, .foc-8, .foc-9, .foc-10, .foc-11, .foc-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.foc-12 {
  width: 100%;
}
.foc-11 {
  width: 91.66666667%;
}
.foc-10 {
  width: 83.33333333%;
}
.foc-9 {
  width: 75%;
}
.foc-8 {
  width: 66.66666667%;
}
.foc-7 {
  width: 58.33333333%;
}
.foc-6 {
  width: 50%;
}
.foc-5 {
  width: 41.66666667%;
}
.foc-4 {
  width: 33.33333333%;
}
.foc-3 {
  width: 25%;
}
.foc-2 {
  width: 16.66666667%;
}
.foc-1 {
  width: 8.33333333%;
}
.foc-pull-12 {
  right: 100%;
}
.foc-pull-11 {
  right: 91.66666667%;
}
.foc-pull-10 {
  right: 83.33333333%;
}
.foc-pull-9 {
  right: 75%;
}
.foc-pull-8 {
  right: 66.66666667%;
}
.foc-pull-7 {
  right: 58.33333333%;
}
.foc-pull-6 {
  right: 50%;
}
.foc-pull-5 {
  right: 41.66666667%;
}
.foc-pull-4 {
  right: 33.33333333%;
}
.foc-pull-3 {
  right: 25%;
}
.foc-pull-2 {
  right: 16.66666667%;
}
.foc-pull-1 {
  right: 8.33333333%;
}
.foc-pull-0 {
  right: auto;
}
.foc-push-12 {
  left: 100%;
}
.foc-push-11 {
  left: 91.66666667%;
}
.foc-push-10 {
  left: 83.33333333%;
}
.foc-push-9 {
  left: 75%;
}
.foc-push-8 {
  left: 66.66666667%;
}
.foc-push-7 {
  left: 58.33333333%;
}
.foc-push-5 {
  left: 41.66666667%;
}
.foc-push-4 {
  left: 33.33333333%;
}
.foc-push-3 {
  left: 25%;
}
.foc-push-2 {
  left: 16.66666667%;
}
.foc-push-1 {
  left: 8.33333333%;
}
.foc-push-0 {
  left: auto;
}
.foc-offset-12 {
  margin-left: 100%;
}
.foc-offset-11 {
  margin-left: 91.66666667%;
}
.foc-offset-10 {
  margin-left: 83.33333333%;
}
.foc-offset-9 {
  margin-left: 75%;
}
.foc-offset-8 {
  margin-left: 66.66666667%;
}
.foc-offset-7 {
  margin-left: 58.33333333%;
}
.foc-offset-6 {
  margin-left: 50%;
}
.foc-offset-5 {
  margin-left: 41.66666667%;
}
.foc-offset-4 {
  margin-left: 33.33333333%;
}
.foc-offset-3 {
  margin-left: 25%;
}
.foc-offset-2 {
  margin-left: 16.66666667%;
}
.foc-offset-1 {
  margin-left: 8.33333333%;
}
.foc-offset-0 {
  margin-left: 0%;
}
.col-offset-10 {
  margin-left: 10%; }

.col-offset-20 {
  margin-left: 20%; }

.col-offset-25 {
  margin-left: 25%; }

.col-offset-33, .col-offset-34 {
  margin-left: 33.3333%; }

.col-offset-50 {
  margin-left: 50%; }
