* {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  height: 40px;
  transition: all 300ms ease; }

.theme-home {
  background-color: red; }

.theme-login {
  background-color: lime; }

.hide {
  display: none; }
