<div class="" ng-controller="main">
    <div class="subHeader orange-bg light container row">
        <span class="foc-8">Hoje 06/07</span>
        <span class="foc-4">Próximo > </span>
    </div>
    <div class="container">
        <div class="row rowup">
            <div class="foc-3">14:00</div>
            <div class="foc-7">Matéria</div>
            <div class="foc-2">IC</div>
        </div>
        <div class="row rowup">
            <div class="foc-3">14:00</div>
            <div class="foc-7">Matéria</div>
            <div class="foc-2">IC</div>
        </div>
        <div class="row rowup">
            <div class="foc-3">14:00</div>
            <div class="foc-7">Matéria</div>
            <div class="foc-2">IC</div>
        </div>
        <div class="row rowup">
            <div class="foc-3">14:00</div>
            <div class="foc-7">Matéria</div>
            <div class="foc-2">IC</div>
        </div>
        <div class="row rowup">
            <div class="foc-3">14:00</div>
            <div class="foc-7">Matéria</div>
            <div class="foc-2">IC</div>
        </div>
        <div class="row rowup">
            <div class="foc-3">14:00</div>
            <div class="foc-7">Matéria</div>
            <div class="foc-2">IC</div>
        </div>
    </div>
    <button class="ionic button button-fab button-fab-bottom-right button button-fab icon ion-plus-round"></button>
</div>
